<!-- Footer Area Start -->
<footer class="footer-area">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 h-100">
        <div
          class="footer-content h-100 d-md-flex align-items-center justify-content-between"
        >
          <!-- Single Footer Content -->
          <div class="single-footer-content">
            <i
              class="fa fa-phone"
              style="font-size: 20px; color: #666; margin-right: 4px"
            ></i>
            <a href="#">+54 9 373 15-44056</a>
          </div>
          <!-- Single Footer Content -->
          <div class="single-footer-content">
            <i
              class="fa fa-envelope"
              style="font-size: 20px; color: #666; margin-right: 8px"
            ></i>
            <a href="#">lucas.gonzalez.audiovisual@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Area End -->
