<!-- Header Area Start -->
<header class="header-area" id="dynamic-header">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="index.html"><img src="img/core-img/logo.png" alt="Logo" style="max-width: 100px;"></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>

                        <div class="collapse navbar-collapse" id="studioMenu">
                            <!-- Menu Area Start  -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item" data-page="index">
                                    <a class="nav-link" href="index.html">Inicio</a>
                                </li>
                                <li class="nav-item" data-page="about-me">
                                    <a class="nav-link" href="about-me.html">Sobre Mi</a>
                                </li>
                                <li class="nav-item" data-page="portfolio">
                                    <a class="nav-link" href="portfolio.html">Portafolio</a>
                                </li>
                                <li class="nav-item" data-page="contact">
                                    <a class="nav-link" href="contact.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
