<!-- Follow Me Instagram Area Start -->
<section class="follow-me-instagram-area">
    <div class="container">
        <div class="row">
            <div class="col-11 ml-auto">
                <div class="follow-me-title">
                    <h5>Seguime en <a href="https://www.instagram.com/lugavv/" target="_blank" style="font-size: medium; color: #E4405F;"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Feeds Area -->
    <div class="instagram-feeds-area owl-carousel">
        <div class="single-instagram-feeds">
            <img src="img/ig-pictures/1.jpg" alt="">
            <a href="https://www.instagram.com/p/DC77ayetKDh/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/ig-pictures/2.jpg" alt="">
            <a href="https://www.instagram.com/p/DLYdVMfSFMw" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/ig-pictures/3.jpg" alt="">
            <a href="https://www.instagram.com/p/C_THfNQRNSA/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/ig-pictures/4.jpg" alt="">
            <a href="https://www.instagram.com/p/DPnAcrljTZU/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/ig-pictures/5.jpg" alt="">
            <a href="https://www.instagram.com/p/DMRIQH5yu8N/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/ig-pictures/6.jpg" alt="">
            <a href="https://www.instagram.com/p/DP2VUD2Ddxd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/ig-pictures/7.jpg" alt="">
            <a href="https://www.instagram.com/p/DP1aBf1jTC_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<!-- Follow Me Instagram Area End -->