<!-- Preloader -->
<div id="preloader">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div class="questions-area text-center">
        <p>¿Lo sabías?</p>
        <ul>
            <li>El video nació con el cinematógrafo en 1895 (Lumière).</li>
            <li>La fotografía es la profesión más dura del mundo.</li>
            <li>El álbum de fotografías más grande del mundo en cuanto a dimensiones medía 13 pies 11,5 pulgadas x 17 pies.</li>
            <li>El mosaico fotográfico más grande del mundo incluyó 176.175 imágenes.</li>
            <li>La lente de cámara más grande del mundo era una lente de 5200 mm acoplada a un canon.</li>
        </ul>
    </div>
</div>

<!-- Gradient Background Overlay -->
<div class="gradient-background-overlay"></div>
